@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

#navbar {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 15px;

}

#navbar-links {
    display: flex;
    flex-direction: row;
    place-items: center;
}

#navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#navbar-links li {
    margin-left: 60px;

}

#navbar-links a {
    text-decoration: none;
    color: rgb(64, 64, 64);
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

#navbar-links a:hover {
color: rgb(65, 105, 255);
}
.blue-button {
    background-color: rgb(65, 105, 255);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500px;
    -webkit-font-smoothing: antialiased;
    transition: 0.3s ease-in-out;
}

.blue-button:hover{
    background-color: rgb(102, 135, 240);
}

#navbar-links button{
    margin-left: 60px;
    padding: 8px 20px;
    border-radius: 7px;
}

/* Product page's main body*/

#product-page-body {
    padding: 0 100px;
}

/* top section of primary body*/

#product-top-container {
    padding-top: 125px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    }

    #product-top-wrapper {
        background-color: #edf2fb ;
        width: 100%;
        height: 320px;
        overflow: hidden;
        padding: 100px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        place-items: center;
        justify-content: space-between;
    }

    #product-top-text-section{
        width: 52%;

    }

    #product-top-text-section h1 {
        color: rgb(64, 64, 64);
        font-size: 23px;
        font-weight: 500;
        -webkit-font-smoothing:antialiased;
    }

    #product-top-text-section h2{
        color: rgb(64, 64, 64);
        font-size: 45px;
        font-weight: 500;
    }

    #product-top-text-section p {
        color: rgb(137,137, 137);
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 25px;
        line-height: 1.7;
    }

    .blue-button{
        background-color: rgb(65, 105, 255);
        color: white;
        padding: 7px 5px;
        border: none;
        font-size: 16px;
        font-weight: 500px;
        border-radius: 5px;
        -webkit-font-smoothing: antialiased;
        transition: 0.3s ease-in-out;
    }
    
    .blue-button:hover{
        background-color: rgb(102, 135, 240);
    }

    #product-top-text-section{
        padding: 15px 45px;
        border-radius: 5px;
        font-size: 17px;
    }

    #product-top-image-section {
        background-color: #c7d5f1;
        width: 420px;
        height: 420px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        place-items: center;
        box-shadow: 0 20px 50px rgba (0, 0, 0, 0.2);
    }

    #product-top-image-section img{
        height: 400px;
        width: 400px ;
        border-radius: 100%;
}


#product-top-image-section:hover {
    animation: shake 0.5s linear infinite;
    cursor: pointer;
}
    
@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    
    25%{
        transform: rotate(3deg);
    }

    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-3deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

/*Product cat section*/

#product-category-container {
    margin-top: 45px 
}

#product-category-container-text {
    margin-bottom: 45px;
    display: flex;
    place-items: center;
}

.blue-line {
    height: 40px;
    width: 15px;
    margin-right: 15px;
    background-color: #3b71dc;
    border-radius: 20px;
    color: #3b71dc;
    
}

.section-category-text{
    color: rgb(64, 64, 64);
    font-weight: 500;
    font-size: 25px;
}

#product-category-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.product-category{
    width: 300px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    place-items: center;
    border-radius: 5px;
    margin-bottom:15px ;
    box-shadow: 0 0 30px rgba(129, 129, 129, 0.1);
    transition: 0.3s ease-in-out;

}

.product-category:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.product-category-image-section{
    background-color: rgb(231, 238, 252);
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 10px;
    width: calc(120px - 20px);
    height: calc(100% - 20px);
}

.product-category-image-section img{
    max-width: 97%;
    max-height: 97%;
    object-fit: contain;
}

.product-category-desc-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 100%;
    border: 1px solid black;
    flex-grow: 1;
}

.product-category-desc-section .product-category-type {
    color: rgb(64, 64, 64);
    font-weight: 500;
    font-size: 18px;
}

.product-category-desc-section .product-category-number {
    color: rgb(137,137, 137);
    font-size: 14px;

}

footer {
    background-color: #d9e5f4;
    text-align: center;
    padding: 30px;
    color: rgb(64, 64, 64);
}

#footer-top{
    padding: 20px;
   width: 90%;
    margin: auto;
}

#footer-socials-wrapper{
    padding: 40px;
    display: flex;
   justify-content: space-between;
    margin-top: 10px;

   }

.footer-social{
    display: flex;
  place-items: center;

}

.footer-social span{
    margin-left: 20px;
    font-size: 16px;
}
#footer-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    border-top: 1px solid rgb(169, 169, 169);
    padding-top:30px ;
margin-top: 20px;
}

#footer-bottom ul{
    list-style: none;
    display: flex;
}

#footer-bottom a{
    margin-right: 20px;
    text-decoration: none;
    color: rgb(64, 64, 64);
    transition: 0.3s ease-in-out;
}

#footer-bottom a:hover {
    color: rgb(65, 105, 225);
}

    

/* // ipad */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}